body {
    text-align: center;
    margin-top: 30px;
}

.box {
    width: 180px;
    height: 180px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: #f4f4c2;
    border: 4px solid #c9c996;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
