body {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 700px;
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
}

.top {
    width: 100%;
    height: 80px;
    background: #b7e1a1;
    margin-bottom: 15px;
}

/* kolom kiri atas */
.left1 {
    width: 120px;
    height: 120px;
    background: #f5e96d;
    float: left;
    margin-right: 15px;
}

/* kolom kanan atas */
.right1 {
    height: 120px;
    background: #ff7f39;
    overflow: hidden;
}

/* kolom kiri bawah */
.left2 {
    width: 120px;
    height: 120px;
    background: #f5e96d;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}

/* kolom kanan bawah */
.right2 {
    height: 120px;
    background: #62cff0;
    margin-top: 15px;
    overflow: hidden;
}

/* reset float */
.container::after {
    content: "";
    display: block;
    clear: both;
}
